.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    background-color: #121212;
    width: 30%;
    margin: auto;
    margin-top: 15vh;
    padding: 4vh;
    border-radius: 30px;
}
